{% extends "adminparent.html" %}
{% block body %}
    <h1 style="color:blue;text-align:center;">
        Change Password
    </h1>
    {% if msg %}
        <p style="color:red;text-align:center;">{{msg}}</p>
    {% endif %}
    <form action="{% url 'adminzone:changepwd' %}" method="post">
        {% csrf_token %}
        <table style="margin:0 auto;width:50%;">
            <tr>
                <td>Enter Old Password</td>
                <td>
                    <input type="password" name="oldpassword"/>
                </td>
            </tr>
            <tr>
                <td>Enter New Password</td>
                <td>
                    <input type="password" name="newpassword"/>
                </td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td>
                    <input type="password" name="confirmpassword"/>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Change"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock body %}